TEAM_ID=

PRODUCT_NAME=mpv_kmp
PRODUCT_BUNDLE_IDENTIFIER=com.guyuuan.mpv.kmp$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

MPV_PREPARED_LIB_DIR[sdk=iphoneos*]=$(TARGET_BUILD_DIR)/$(FRAMEWORKS_FOLDER_PATH)
LIBRARY_SEARCH_PATHS[sdk=iphoneos*]=$(inherited) "$(MPV_PREPARED_LIB_DIR)"
OTHER_LDFLAGS[sdk=iphoneos*]=$(inherited) -lmpv
